<div class="container">
  <!-- Contenido del modal con el formulario -->
  <form [formGroup]="formulario">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Campo 1" formControlName="campo1">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Campo 2" formControlName="campo2">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Campo 3" formControlName="campo3">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Campo 4" formControlName="campo4">
      </mat-form-field>

      <!-- Repite estos bloques para los campos restantes (campo3, campo4, ..., campo10) -->

      <button mat-raised-button color="primary" type="submit">Enviar</button>
    </form>

    <button (click)="cerrarModal()">Cerrar</button>
  </form>
</div>


