<div class="modal">
  <div class="modal-content">
    <form [formGroup]="customerform" (ngSubmit)="SaveCustomer()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Agregar Junta</mat-card-title>
          <mat-card-subtitle>Proyecto: Enelgar</mat-card-subtitle>
          <mat-card-subtitle>Cliente:Boca Raton</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <!--- Diametros------>
          <!---Nominal1------>
          <mat-form-field class="mat-50">
            <mat-label>Nominal1</mat-label>
            <!-- <input matInput> -->
            <mat-select formControlName="Nominal1">
              <mat-option [value]="item" *ngFor="let item of nominal1list">{{
                item
              }}</mat-option>
            </mat-select>
            <mat-error *ngIf="customerform.controls['Nominal1'].hasError('required')">El campo es obligatorio</mat-error>
          </mat-form-field>

          <!---Nominal2------>
          <mat-form-field class="mat-50">
            <mat-label>Nominal2</mat-label>
            <!-- <input matInput> -->
            <mat-select formControlName="Nominal2">
              <mat-option [value]="item" *ngFor="let item of nominal2list">{{
                item
              }}</mat-option>
            </mat-select>
            <mat-error *ngIf="customerform.controls['Nominal2'].hasError('required')">El campo es obligatorio</mat-error>
          </mat-form-field>

          <!--- linea o sistema------>
          <div>
            <mat-form-field class="mat-100">
              <mat-label>Sistema</mat-label>
              <!-- <input matInput> -->
              <mat-select formControlName="Sistema">
                <mat-option [value]="item" *ngFor="let item of sistemalist">{{
                  item
                }}</mat-option>
              </mat-select>
              <mat-error *ngIf="customerform.controls['Sistema'].hasError('required')">El campo es obligatorio</mat-error>
            </mat-form-field>
          </div>

          <!--- Especificación------>
          <mat-form-field class="mat-50">
            <mat-label>Especificacion</mat-label>
            <!-- <input matInput> -->
            <mat-select formControlName="Especificacion">
              <mat-option
                [value]="item"
                *ngFor="let item of especificacionlist"
                >{{ item }}</mat-option
              >
            </mat-select>

            <mat-error *ngIf="customerform.controls['Especificacion'].hasError('required')">El campo es obligatorio</mat-error>
          </mat-form-field>

          <!--- Datos del Material------>

          <!--- Shedule------>
          <mat-form-field class="mat-50">
            <mat-label>Schedule</mat-label>
            <!-- <input matInput> -->
            <mat-select formControlName="Schedule">
              <mat-option [value]="item" *ngFor="let item of schedulelist">{{
                item
              }}</mat-option>
            </mat-select>
            <mat-error *ngIf="customerform.controls['Schedule'].hasError('required')">El campo es obligatorio</mat-error>

          </mat-form-field>

          <!--- Tipo Extremo------>
          <mat-form-field class="mat-50">
            <mat-label>Tipo_Extremo</mat-label>
            <!-- <input matInput> -->
            <mat-select formControlName="Tipo_Extremo">
              <mat-option [value]="item" *ngFor="let item of tipoextremolist">{{
                item
              }}</mat-option>
            </mat-select>
            <mat-error *ngIf="customerform.controls['Tipo_Extremo'].hasError('required')">El campo es obligatorio</mat-error>

          </mat-form-field>

          <!--- Tipo Material------>
          <mat-form-field class="mat-50">
            <mat-label>Tipo_Material</mat-label>
            <!-- <input matInput> -->
            <mat-select formControlName="Tipo_Material">
              <mat-option
                [value]="item"
                *ngFor="let item of tipomateriallist"
                >{{ item }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="customerform.controls['Tipo_Material'].hasError('required')">El campo es obligatorio</mat-error>

          </mat-form-field>

          <!--- Material------>
          <mat-form-field class="mat-50">
            <mat-label>Material</mat-label>
            <!-- <input matInput> -->
            <mat-select formControlName="Material">
              <mat-option [value]="item" *ngFor="let item of materiallist">{{
                item
              }}</mat-option>
            </mat-select>
            <mat-error *ngIf="customerform.controls['Material'].hasError('required')">El campo es obligatorio</mat-error>
          </mat-form-field>

          <!--- Pulgadas Diametrales Contabilizadas------>

          <mat-form-field class="mat-50">
            <mat-label>PulgadasDiametralesContabilizadas</mat-label>
            <input
              matInput
              formControlName="PulgadasDiametralesContabilizadas"
            />
            <mat-error *ngIf="customerform.controls['PulgadasDiametralesContabilizadas'].hasError('required')">El campo es obligatorio</mat-error>
          </mat-form-field>

          <!--- Pulgadas Diametrales ------>

          <!--- Factor Pulgadas Diametrales ------>
          <mat-form-field class="mat-50">
            <mat-label>Factor_Pulgadas_Diametrales</mat-label>
            <!-- <input matInput> -->
            <mat-select formControlName="Factor_Pulgadas_Diametrales">
              <mat-option
                [value]="item"
                *ngFor="let item of factor_pulgadas_diametrales"
                >{{ item }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="customerform.controls['Factor_Pulgadas_Diametrales'].hasError('required')">El campo es obligatorio</mat-error>

          </mat-form-field>

          <!--- Pulgadas Diametrales ------>
          <mat-form-field class="mat-50">
            <mat-label>Pulgadas_Diametrales</mat-label>
            <input matInput formControlName="Pulgadas_Diametrales" />
            <mat-error *ngIf="customerform.controls['Pulgadas_Diametrales'].hasError('required')">El campo es obligatorio</mat-error>

          </mat-form-field>
        </mat-card-content>
        <mat-card-footer>
          <mat-card-actions>
          <div style="margin: 2%; text-align: right">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              (click)="notificarPadreJunta(true)"
            >
              Enviar
            </button>
            <button mat-raised-button type="submit" color="primary">
              Save
            </button>
            <button mat-raised-button color="warn" (click)="clearform()">
              Clear
            </button>
          </div>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </form>
  </div>
</div>
