<!--
<div mat-dialog-content>
  <h1>Desea eliminar la Linea?</h1>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" cdkFocusInitial ><h1>Si</h1></button>
  <button mat-button color="primary"> <h1>No</h1></button>
</div>
-->


<h2 mat-dialog-title>Confirmar eliminación</h2>
<mat-dialog-content>
  <p>¿Estás seguro de que deseas eliminar este registro?</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button color="warn" (click)="onYesClick()">Eliminar</button>
</mat-dialog-actions>

